.authorization_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.authorization {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.authorization input {
  background: #f5f3eb;
  padding: 8px;
  border-radius: 5px;
}

.authorization button {
  background: #f5f3eb;
  padding: 8px;
  border-radius: 5px;
}
