* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;

  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
